.grid {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #626262;
  border-collapse: collapse;
  text-align: center;
  padding: 0;
}


.column-1 {
  width: 80px;
}


.column-2 {
  width: 120px;
}


.column-3 {
  width: 450px;
}


.row:first-child {
  background-color: #f7ffe9;
  font-weight: bold;
}

button{
  margin-top: 10px;
  margin-right: 10px;
} 